.button {
    background-color: #393e41;
    color: #E7E5DF;
    font-family: 'Impact', 'fantasy';
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for hover effect */
    margin-bottom: 1rem;
}

.button:hover {
    background-color: #44bba4;
    box-shadow: rgba(0, 0, 0, 0.705) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: #393e41;
}

.dialog{
    color: #101419;
    font-family: 'Impact', 'fantasy';
    font-weight: 700;
    /* Bold */
    text-transform: uppercase;
    /* Makes text uppercase */
}