.noteCard {
    background-color: #e7e5df;
    border: 2px;
    padding: 16px;
    border-radius: 8px;
    width: 80%t;
    height: 100%;
}

.cardTitle {
    color: #101419;
    font-family: 'Impact', 'fantasy';
    font-weight: 700;
    font-size: x-large;
}

.cardFooter {
    color: #101419;
    font-family: 'Impact', 'fantasy';
    font-weight: 700;
    text-transform: uppercase;
}

.cardText {
    background-color: #393e41;
    border: 2px solid #000000;
    padding: 16px;
    margin: 12px;
    border-radius: 8px;
    font-family: Georgia, serif;
    font-size:medium;
    white-space: pre-line;
    height: 150px;
    color: #ffff;
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 70%, transparent);
}