.noteCard {
    background-color: #e7e5df;
    border: 2px;
    padding: 16px;
    border-radius: 8px;
    width: 80%t;
    height: 100%;
}

.cardTitle {
    color: #101419;
    font-family: 'Impact', 'fantasy';
    font-weight: 700;
    font-size: x-large;
}

.cardFooter {
    color: #101419;
    font-family: 'Impact', 'fantasy';
    font-weight: 700;
    text-transform: uppercase;
}

.cardText {
    background-color: #393e41;
    border: 2px solid #000000;
    padding: 16px;
    margin: 12px;
    border-radius: 8px;
    font-family: Georgia, serif;
    font-size: medium;
    white-space: pre-line;
    height: 150px;
    color: #ffff;
    overflow: hidden;
    position: relative;
}

.cardText::after {
    content: '';
    position: absolute;
    bottom: 0; /* place this part at the bottom*/
    left: 0; /* align with the left side*/
    width: 100%;
    height: 40px;
    background: linear-gradient(transparent, #232a32);
    pointer-events: none;
}


.cardTextNoContent {
    background-color: #393e41;
    border: 2px solid #000000;
    padding: 16px;
    margin: 12px;
    border-radius: 8px;
    font-family: Georgia, serif;
    font-size: medium;
    white-space: pre-line;
    height: 150px;
    color: #ffff;
    overflow: hidden;
    position: relative;
}
